@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brain Eaters</h1>
    <p>Literally the best thing ever to exist</p>
</div>
<canvas id="myCanvas" width="800" height="500"></canvas>
